footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0 8rem;
    gap: 4rem;
    flex-wrap: wrap;
    margin: 2rem 0;
    font-size: 1.1rem;
  }
  footer > h2 {
    font-size: 2.5rem;
  }
  .myButton {
    display: flex;
    gap: 20px;

  } 
  
  @media (max-width: 770px) {
    footer {
      padding: 0 2rem;
      gap: 2rem;
    }
    
  }
  @media (max-width: 450px) {
    .myButton {
      flex-direction: column;
    }
  }
    
  
  